@using TastyOrders.Web.ViewModels.Restaurant;
@model LocationSelectionViewModel

@{
    ViewData["Title"] = "Choose Location";
}
<link rel="stylesheet" href="~/css/chooseLocationView.css" asp-append-version="true" />
<div class="container mt-5">
    <h1 class="text-center mb-4 display-4 text-primary">Choose Your Location</h1>
    <p class="text-center text-muted lead">Select your preferred location to explore restaurants nearby.</p>

    <div class="row justify-content-center">
        @foreach (var location in Model.Locations)
        {
            <div class="col-md-4 mb-4">
                <form asp-action="ChooseLocation" method="post" class="text-center">
                    <input type="hidden" name="SelectedLocation" value="@location" />
                    <button type="submit" class="btn location-button shadow">
                        <i class="fas fa-map-marker-alt fa-2x mb-2"></i>
                        <span class="d-block">@location</span>
                    </button>
                </form>
            </div>
        }
    </div>
</div>

