.table {
    border-radius: 10px;
    overflow: hidden;
}

    .table thead {
        font-size: 1.1rem;
    }

    .table td,
    .table th {
        vertical-align: middle;
    }

.btn-outline-primary {
    border-width: 2px;
}

.btn-outline-danger {
    border-width: 2px;
}

.btn-success {
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}

.btn-outline-primary:hover,
.btn-outline-danger:hover {
    color: #fff;
}

.alert {
    border-radius: 8px;
}
